.header {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    font-size: 2em;
    text-align: center;
    font-family: monospace;
}

button {
    padding: 1em 2em;
    font-family: monospace;
    cursor: pointer;
    border: 1px solid #111111
}