@import "./header";
@import "./mobile";


body {
    line-height: 1.4;
    color: #111;
    background: #efefef;
    margin: 0;
    padding: 0;
}

// * {
//     background-color: rgba(255, 0, 0, .2);
// }

// * * {
//     background-color: rgba(0, 255, 0, .2);
// }

// * * * {
//     background-color: rgba(0, 0, 255, .2);
// }

// * * * * {
//     background-color: rgba(255, 0, 255, .2);
// }

// * * * * * {
//     background-color: rgba(0, 255, 255, .2);
// }

// * * * * * * {
//     background-color: rgba(255, 255, 0, .2);
// }

// * * * * * * * {
//     background-color: rgba(255, 0, 0, .2);
// }

// * * * * * * * * {
//     background-color: rgba(0, 255, 0, .2);
// }

// * * * * * * * * * {
//     background-color: rgba(0, 0, 255, .2);
// }